* {
  box-sizing: border-box;
  margin : 0 ;
  padding:0;
  font-family:century Gothic;
}
body {
  display: flex; align-items: center;justify-content: center;
  flex-direction: column;
}
#cont h1 {
  font-size: 50px;
  margin-bottom: 350px;
}
#btn1,#btn2{
  font-size: 20px;
  font-weight: 800;
  border: 1px solid black;
  padding: 25px;
}
#flex-cont{

  display: flex;
  align-items: center;
  justify-content: space-between;
}
#flex-cont div{
  flex-grow: 1;
  margin:15px 40px;
}
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index:-1;
  width: 100vw;
  height:120vh;
}

.content {
  /*position: fixed;*/
  bottom: 0;
  /*background: rgba(0, 0, 0, 0.5);*/
  color: #f1f1f1;
  width: 50%;
  padding: 20px;
  text-transform: uppercase;
  /*display: run-in;*/
  color:white;
  /*columns: white; ;*/
  font-size: 55px;
  font-weight: 1px;
  letter-spacing: 10px;
  /*margin-bottom: 20px;*/
  background:transparent ;
  /*opacity: 0.3;*/
  /*position: relative;*/
  /*animation: text 1s 1;*/
  float: left;
}

#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
  display: block;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}
.container{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;

}
.container span{
  text-transform: uppercase;
  display: run-in;
}


header{
  background-image:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url("../img/back1.jpg");
  height:100vh;
  background-size:cover;
  background-position: center;
}
ul{
   /* position: right;*/
    bottom: 0;
    background:transparent;
    color: #f1f1f1;
    width:40%;
    padding: 30px;
    float: right;

  }

ul li {
  display:inline-block;
}
ul li a{
  text-decoration:none;
  color: white;
  padding:5px 20px;
  border:1px solid rgb(255, 255, 255)transparent;
  transition: 0.6s ease ;
}
ul li a:hover{
  background-color: #800080;
  color:#000;
}
.main{
  max-width: 100%;
  margin: auto;

}
.title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%) ;
  
}
.title h1{
  color:#fff;
  font-size: 100px;
}
.button{
  position: absolute;
  top: 60%;
  left: 50%;
  transform:translate(-50%,-50%) ;
}
.btn{
  border: 1px solid #fff;
  padding: 15px 35px;
  color: rgb(134, 71, 71);
  text-decoration: ease;
}
.btn:hover{
  background-color: #fff;
  color:#000;
}


footer{
  padding:14px;
  margin-top:802px;
  color:white;
  background-color:black;
  text-align: center;
  width: 100%;
  
}
#cont {margin: 45px 45px;}
























/*Start for Checkbox */
/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

input[type=checkbox] {
    transform: scale(1.3);
}

